*{
    margin: 0;
    padding: 0;
}
body{
    background: url("./gradient.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nav{
    position: sticky;
    z-index: 2;
    top:0px;
}
.logo-box{
    padding: 0 0 0 1.5vw;
}
.logo{
    min-height: 40px;
    height: 4vw;
    border-radius: 50%;
}
.title{
    display: flex;
    background: #0004;
    align-items: center;
    padding: 5px;
}
.nav-a{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 30vw;
    margin-left: 60vw;
}
.nav-a a{
    color:black;
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
}
.log-in-btn{
    background-color: #ffca2f;
}

.main{
    min-height: 90vh;
}

.centre-img-box{
    position: relative;
    margin: 5px;
}
.centre-img{
    width: 100%;
    border-radius: 5px;
}
.centre-img-btn{
    position: absolute;
    z-index: 1;
    font-size: 4rem;
    top: calc(50% - 16px);
    color: #0005;
}
.centre-img-btn:hover{
    color:#000b;
}
.centre-img-btn-left{
    margin-left: 10px;
}
.centre-img-btn-right{
    right: 0px;
    margin-right: 10px;
}
.desc{
    position: absolute;
    color: white;
    top:5vw;
    left:5vw;
    width: 25vw;
}


.highlights{
    text-align: center;
    margin: 2.75vw;
}
.highlights-content{
    display: flex;
    justify-content: center;
}
.highlights-content-right{
    display: flex;
    flex-direction: column;
}
.highlights-content-card34{
    display: flex;
}
.card1, .card2, .card3, .card4{
    position: relative;
    width: auto;
    background-size: cover;
    margin: 2.5vw;
    height: 100%;
    border-radius: 5px;
}
.card1:hover, .card2:hover, .card3:hover, .card4:hover{
    box-shadow: 2px 2px 5px black;
}
.card1{
    position: relative;
    width: 40vw;
    height: 40vw;
    margin-right: 0px;
    background-image: url(img1.jpeg);
    box-sizing: border-box;
}
.card2{
    position: relative;
    background-image: url(img3.jpg);
    width: 40vw;
    height: 18.75vw;
    box-sizing: border-box;
}
.card3{
    position: relative;
    background-image: url(img4.jpg);
    width: 18.75vw;
    height: 18.75vw;
    box-sizing: border-box;
    margin-top: 0;
}
.card4{
    position: relative;
    width: 18.75vw;
    height: 18.75vw;
    background-image: url(img5.jpg);
    margin: 0;
    box-sizing: border-box;
}
.visit-btn{
    position: absolute;
    size: 8vw;
    bottom: 2vw;
    right: 2vw;
    color: black;
    padding: 4px;
    border-radius: 4px;
    text-decoration: none;
    background: #ffca2f;
    border: none;
}

.help{
    position: fixed;
    right: 2vw;
    bottom: 4vw;
    font-size: xx-large;
    background-color: #ffca2f;
    border: 2px solid black;
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
}
.help:hover{
    right: 1vw;
    bottom: 3vw;
    width: 6vw;
    height: 6vw;
    font-size: xxx-large;
}
.help-icon-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}
.help-icon{
    width: 100%;
}


footer{
    position: relative;
    display: flex;
    background-color: #0004;
    padding: 15px;
    color: black;
    text-align: center;
    justify-content: space-between;
}
.socials{
    display: flex;
    padding: 1px;
    width: 8vw;
    justify-content: space-between;
}